

/*Galeria*/

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    gap: 6rem;
    margin: 0 auto;
    justify-content: space-between;
}

.jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 15px;
    border: 2px solid var(--color-purple);
    border-radius: 10px;
}
.jogo h2 {
    text-align: center;
}
.jogo img {
    padding: 15px;
    border: 2px solid var(--color-blue);
    border-radius: 10px;
    max-width: 258px;
    max-height: 230px;
}

@media (max-width: 650px) {
    .inicio {
        width: 90%;
    }
    .galeria {
        display: flex;
        flex-direction: column;
    }
}