/*Inicio da página*/

.landing-page {
    margin: 0;
    padding-top: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inicio h1 {
    font-size: 12rem;
}

.inicio {
    width: 100%;
    padding: 2rem;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}


.inicio p {
    margin-bottom: 3rem;
}

.seta {
    display: flex;
    flex-direction: column;
    margin: 8rem auto;
    align-items: center;
}

.curiosidade {
    width: 100%;
    margin: 6rem auto;
    border-top: 1px solid var(--color-green);
    border-bottom: 1px solid var(--color-green);
    padding: 3rem;
    text-align: center;
    font-style: italic;
    font-weight: 500;
}
.curiosidade p {
    width: 80%;
    margin: 0 auto;
}

/*Conteúdo*/
.conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    margin: 0 auto;
    width: 98%;
}

.cntd {
    width: 80%;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.cntd .img1 {
    max-width: 40rem;
    padding: 1rem;
    border: 2px solid var(--color-green);
    border-radius: 2rem 6rem 2rem 2rem;
}

.cntd .img2 {
    max-width: 50rem;
    padding: 1rem;
    border: 2px solid var(--color-green);
    border-radius: 9rem 2rem 2rem 2rem;
}

.textos {
    width: 50%;
}

.textos h2 {
    margin-bottom: 3rem;
}
.textos p {
    margin-bottom: 2rem;
}



/*Responsividade*/

@media (max-width: 967px) {
    .conteudo img {
        width: 3rem;
    }
    h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 650px) {

    /*Conteúdo da pagina*/

    .landing-page {
        padding-top: 3rem;
    }

    .inicio h1 {
        font-size: 6rem;
    }

    .seta {
        display: none;
    }

    .conteudo {
        width: 95%;
    }

    .conteudo img {
        width: 25rem;
    }

    .cntd {
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        text-align: center;
    }

    .textos {
        width: 100%;
    }

}
