/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    word-wrap: break-word;
}

/* Várivaies */

:root {
    --color-green: #a4db69;
    --color-blue: #0063e2;
    --color-purple: #b480d3;
    --color-light: #FFFDE0;
    --transition: .3s;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-light);
}

/* Formatação Geral */
a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 700;
    transition: var(--transition);
}

h1 {
    font-family: "Yeseva One";
    color: var(--color-blue);
    font-size: 6rem;
}

h2 {
    font-family: "Lilita One";
    font-weight: 100;
    color: var(--color-green);
    font-size: 4rem;
}

p {
    font-weight: 400;
    line-height: 2rem;
}
/*Navbar Responsiva*/

.nav-responsiva {
    display: none;
}


.menu {
    display: none;
    
}

#check:checked ~ .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
    width: 100%;
    background-color: var(--color-purple);
    border-radius: 0 0 3rem 3rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
}


/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--color-purple);
    color: var(--color-light);
    margin: 0 0 1rem 0;
    align-items: center;
    padding: 5px 4rem;
    justify-content: space-between;
}

.navbar h1 {
    font-size: 35px;
    color: var(--color-light);
}

.links {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-weight: 700;
    font-size: 2rem;
}

.links a:hover {
    background-color: var(--color-light);
    color: var(--color-blue);
    border-radius: 3rem;
    padding: 0 2rem;
}

/*Rodape*/
footer {
    background-color: var(--color-purple);
    width: 100%;
    color: var(--color-light);
    display: flex;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    line-height: 2.2rem;
    margin-top: 8rem;
}
.sobre {
    width: 95%;
    margin: 0 auto;
}

.sobre a {
    color: var(--color-purple);
    font-weight: 600;
    background-color: var(--color-light);
    padding: 1px;
}

.sobre a:hover {
    color: var(--color-blue);
}


/*Elementos Padrão*/

.btn {
    background-color: var(--color-purple);
    border: 0.2rem solid var(--color-purple);
    font-weight: 600;
    color: var(--color-light);
    padding: 0.8rem 3.5rem;
    border-radius: 30px;
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--color-blue);
    border: 0.2rem solid var(--color-blue);
}

.inicio{
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    margin: 9rem auto;
}


/*Responsividade*/


@media (max-width: 650px) {

    h1 {
        font-size: 5rem;
        line-height: 5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.5rem;
    }

    /*Navbar Padrão*/
    .navbar {
        display: none;
    }

    .nav-responsiva {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: var(--color-purple);
        margin: 0;
        padding:  0.8rem 1.8rem;
        align-items: center;
        justify-content: space-between;
        color: var(--color-light);
    }

    .nav-responsiva h1 {
        font-size: 3rem;
        color: var(--color-light);
    }

    .btn {
        padding: 5px 1.5rem;;
    }


}


